
<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="404 content">
        <h2>Ups! sorry</h2>
        <p>the page you try to see is not here</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>