<% const name = "mario" %>
<nav>
    <div class="site-title">
        <a href="/"><h1>blog test</h1></a>
        <p>node crash course test blog</p>
        <p>username: <%= name  /*= is like a print*/ %></p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>